/* body portfolio*/
/*   Filters   */

.filters__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  display: block;
  color: $primary-text-color;
  background-color: $background-extra-color;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;

  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;

  transition: background-color $timing-function, color $timing-function,
    box-shadow $timing-function;

  &:active,
  &:hover,
  &:focus {
    color: $main-text-color;
    background-color: $aditional-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
