//  contacts

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  position: relative;
  display: flex;
  align-items: center;

  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.1;

  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $aditional-color;
  }
}

.contacts__icon {
  @include absolute($t: 0, $l: -20px);
  fill: currentColor;

  &:hover,
  &:focus {
    color: $aditional-color;
  }
}
