// prime button

.prime__button {
  color: $main-text-color;
  font-family: inherit;
  background-color: $aditional-color;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color $timing-function, box-shadow $timing-function;

  &:active,
  &:hover,
  &:focus {
    background-color: $blue-darker-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
