@mixin absolute($t: false, $r: false, $b: false, $l: false) {
  position: absolute;
  @if ($t) {
    top: $t;
  }
  @if ($r) {
    right: $r;
  }
  @if ($b) {
    bottom: $b;
  }
  @if ($l) {
    left: $l;
  }
}
@mixin flex-center {
  display: flex;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}
